@model HW_14.Models.Randomizer


<div>
    <p><a class="btn btn-default" href="/Randomizers/Lotery">Лотерея</a></p>
</div>
<div>
    <p><a class="btn btn-default" href="/Randomizers/Randomizer">Случайное число</a></p>
</div>
<div>
    <p><a class="btn btn-default" href="/Home">На главне меню</a></p>
</div>

